/* styles.css */

/* Apply custom styles to the container */
.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #cfbdbd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the heading */
h1 {
    color: #61a4eb;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;

}
p {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: #3e3333;
}
/* Style the form elements */
.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

textarea, input[type="text"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style the buttons */
button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(180, 114, 114);
    
}

button:hover {
    background-color: rgb(218, 198, 140);
}
/* Style the result paragraph */
#result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 6px;
}
